.logout {
  width: 5vh;
  float: right;
  position: absolute;
  right: 2px;
  margin-top: 2vh;
  text-align: left;
}

.settings {
  width: 5vh;
  float: right;
  position: absolute;
  right: 40px;
  margin-top: 2vh;
  text-align: left;
}

.icon-color {
  color: #B5B5B5;
}

div.menuText {
  height: 4vh;
}

div.MenuBar {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 6vh;
  background: white;
}
